ML Assignment 2

Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data 
Source

(a) Examine the values of each attribute and select a set of attributes only that would affect to prediction of future bike buyers to create your input for data mining algorithms. Remove all the unnecessary attributes. (Select features just by analysis).

In [1]:
import pandas as pd
data= pd.read_csv("data/AWCustomers.csv")

In [5]:
data.columns

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [6]:
data.head(10)

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
5,22092,NaN,Andrea,NaN,Young,NaN,9384 Ashmount Way,NaN,Tacoma,Washington,...,High School,Skilled Manual,F,M,1,2,2,2,61944,2017-03-06
6,11229,NaN,Adrian,C,Stewart,NaN,6898 Shaw Rd.,NaN,Redwood City,California,...,Partial College,Manual,M,S,1,1,0,0,34919,2017-03-06
7,24179,NaN,Robyn,R,Blanco,NaN,6270 Pinecreek Way,NaN,Lavender Bay,New South Wales,...,Partial College,Skilled Manual,F,M,0,1,0,0,61832,2017-03-06
8,12127,NaN,Grace,NaN,Davis,NaN,"8188, rue Lamarck",NaN,Dunkerque,Nord,...,Partial College,Clerical,F,M,1,0,0,2,83834,2017-03-06
9,19903,NaN,Marcus,N,Nelson,NaN,"5, rue des Bouchers",NaN,Metz,Moselle,...,High School,Manual,M,S,0,1,0,0,26880,2017-03-06

In [12]:
selected_columns = ['City', 'Education', 'Occupation', 'MaritalStatus','HomeOwnerFlag', 'NumberCarsOwned', 'YearlyIncome']

(b)Create a new Data Frame with the selected attributes only.

In [13]:
data_selected = data[selected_columns]
data_selected.head()

,City,Education,Occupation,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,YearlyIncome
0,Wollongong,Bachelors,Clerical,M,1,3,81916
1,Shawnee,Partial College,Clerical,M,1,2,81076
2,West Covina,Bachelors,Clerical,S,0,3,86387
3,Liverpool,Partial College,Skilled Manual,M,1,2,61481
4,Werne,Partial College,Skilled Manual,S,1,1,51804

(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [16]:
print(data_selected.dtypes)

City               object
Education          object
Occupation         object
MaritalStatus      object
HomeOwnerFlag       int64
NumberCarsOwned     int64
YearlyIncome        int64
dtype: object

City: Discrete, Nominal
Education: Discrete, Ordinal
Occupation: Discrete, Nominal
MaritalStatus: Discrete, Nominal
HouseOwnerFlag: Discrete, Nominal
NumberCarsOwned: Discrete, Ratio
YearlyIncome: Continuous, Ratio

Part II: Data Preprocessing and Transformation

(a) Handling Null values //no null values exist :)

In [19]:
from sklearn.preprocessing import OrdinalEncoder, StandardScaler, KBinsDiscretizer

In [20]:
print(data_selected.isnull().sum())

City               0
Education          0
Occupation         0
MaritalStatus      0
HomeOwnerFlag      0
NumberCarsOwned    0
YearlyIncome       0
dtype: int64

(b) Normalization

In [22]:
data_selected = data[selected_columns].copy()
from sklearn.preprocessing import MinMaxScaler

numeric_features = ['NumberCarsOwned', 'YearlyIncome']
scaler = MinMaxScaler()
data_selected[numeric_features] = scaler.fit_transform(data_selected[numeric_features])

(c) Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different 
values

In [23]:
# Example: 5 bins for YearlyIncome
kbins = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')
data_selected['YearlyIncome_Binned'] = kbins.fit_transform(data_selected[['YearlyIncome']])

# Example: 3 bins for NumberCarsOwned
kbins_cars = KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='uniform')
data_selected['NumberCarsOwned_Binned'] = kbins_cars.fit_transform(data_selected[['NumberCarsOwned']])

(d) Standardization/Normalization

In [24]:
scaler_std = StandardScaler()
data_selected[numeric_features] = scaler_std.fit_transform(data_selected[numeric_features])

(e) Binarization (One Hot Encoding)

In [25]:
# One-Hot Encode categorical columns
categorical_cols = ['City', 'Education', 'Occupation','MaritalStatus','HomeOwnerFlag']
data_final = pd.get_dummies(data_selected, columns=categorical_cols, drop_first=True)  # drop_first avoids dummy variable trap

Part III: Calculating Proximity /Correlation Analysis of two features

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.

In [26]:
obj1 = data_final.iloc[0].values  
obj2 = data_final.iloc[1].values

In [27]:
import numpy as np

matches = np.sum(obj1 == obj2)
total = len(obj1)
smc = matches / total
print("Simple Matching Coefficient:", smc)

Simple Matching Coefficient: 0.9822695035460993

In [28]:

obj1_bin = obj1.astype(bool)
obj2_bin = obj2.astype(bool)

intersection = np.sum(obj1_bin & obj2_bin)
union = np.sum(obj1_bin | obj2_bin)
jaccard = intersection / union
print("Jaccard Similarity:", jaccard)

Jaccard Similarity: 0.625

In [29]:

obj1_bin = obj1.astype(bool)
obj2_bin = obj2.astype(bool)

intersection = np.sum(obj1_bin & obj2_bin)
union = np.sum(obj1_bin | obj2_bin)
jaccard = intersection / union
print("Jaccard Similarity:", jaccard)

Jaccard Similarity: 0.625

In [30]:
print(data_final.columns)

Index(['NumberCarsOwned', 'YearlyIncome', 'YearlyIncome_Binned',
       'NumberCarsOwned_Binned', 'City_Baltimore', 'City_Barstow',
       'City_Basingstoke Hants', 'City_Baytown', 'City_Beaverton',
       'City_Bell Gardens',
       ...
       'Education_Graduate Degree', 'Education_High School',
       'Education_Partial College', 'Education_Partial High School',
       'Occupation_Management', 'Occupation_Manual', 'Occupation_Professional',
       'Occupation_Skilled Manual', 'MaritalStatus_S', 'HomeOwnerFlag_1'],
      dtype='object', length=282)

In [32]:
x = data_final['NumberCarsOwned']
y = data_final['YearlyIncome']

corr = x.corr(y)
print("Pearson Correlation:", corr)

Pearson Correlation: 0.4773001523631844